# **Introducción a python**

## **Notebooks de python**
Los notebooks de python se dividen en celdas (texto o de código)

Los notebooks de python tienen la terminación `ipynb`

- `i`: En linea
- `py`: Código de python
- `nb`: notebook

In [5]:
# comentario en python
# la función para imprimir un mensaje:  print
print("Hola mundo")

Hola mundo

## Tipos de datos en python

In [7]:
# datos tipo entero
a1 = 10
print("la variable a1 tiene el valor de:", a1)
print("el tipo de variable es: ",type(a1))

la variable a1 tiene el valor de: 10
el tipo de variable es:  <class 'int'>

In [8]:
#datos tipo float
a2 = 3.14
print("la variable a2 tiene el valor de:", a2)
print("el tipo de variable es: ",type(a2))

la variable a2 tiene el valor de: 3.14
el tipo de variable es:  <class 'float'>

In [10]:
# datos tipo string
a3 = "25"
print("la variable a3 tiene el valor de:", a3)
print("el tipo de variable es: ",type(a3))

la variable a3 tiene el valor de: 25
el tipo de variable es:  <class 'str'>

In [12]:
# datos tipo booleanos
# estos datos contienen solamente dos valores
# True
# False
a4 = True
print("la variable a4 tiene el valor de:", a4)
print("el tipo de variable es: ",type(a4))
print("el id de la variable a4 es:", id(a4))

la variable a4 tiene el valor de: True
el tipo de variable es:  <class 'bool'>
el id de la variable a4 es: 9692800

## Conversión de datos

In [13]:
# Conversion de entero a float
a1 = 1
a5 = float(a1)
print("la variable a5 tiene el valor de:", a5)
print("el tipo de variable es: ",type(a5))

la variable a5 tiene el valor de: 1.0
el tipo de variable es:  <class 'float'>

In [14]:
# Conversión de float a entero
a2 = 3.99
a6 = int(a2)
print("la variable a6 tiene el valor de:", a6)
print("el tipo de variable es: ",type(a6))

la variable a6 tiene el valor de: 3
el tipo de variable es:  <class 'int'>

In [15]:
# Conversion de string a entero
a3 = "25"
a7 = int(a3)
print("la variable a7 tiene el valor de:",a7)
print("el tipo de variable es:",type(a7))

la variable a7 tiene el valor de: 25
el tipo de variable es: <class 'int'>

In [18]:
# Conversion de bool a entero
a4 = False
a8 = int(a4)
print("la variable a8 tiene el valor de:",a8)
print("el tipo de variable es:",type(a8))

la variable a8 tiene el valor de: 0
el tipo de variable es: <class 'int'>

In [19]:
# la funcion redondear; round()
print(round(3.51))

4

In [21]:
# la funcion piso: floor()
import math
print(math.floor(3.51))

3

In [22]:
# la funcion techo: ceil()
print(math.ceil(3.51))

4

## Operadores aritméticos

In [23]:
# %: residuo de una división
# 7%4 => 7= 4*1 + 3
print(7%4)

3

In [24]:
# **: operador de exponenciación
print(2**3)

8

In [26]:
# //: división entera
print(9//2)

4

In [28]:
# obtener la decada de lanzamiento de una pelicula dada:
# entradas: 1975
# salida  : 1970
p = 1975
p = p//10 # 197
p = p*10  # 1970
print(p)

1970

## Reglas para nombrar variables:

In [30]:
# tiene que empezar con una letra
a1 = 10
r1a = 5

In [31]:
# una variable puede contener guiones bajos
modelo_optimo = "modelo_A"

## Operadores de comparación

In [32]:
# Operador ==
a1 = 10
a2 = 15
print(a1== a2)

False

In [33]:
# Operador !=  (si es distinto a)
print(a1!=a2)

True

## Operadores de asignación

In [34]:
m = 15
m += 10 # m = m + 10
print(m)

25

In [35]:
m = 10
m +=-5 # m = m+ (-5)
print(m)

5

## Operadores lógicos

In [36]:
# Operador and
nombre = True
apellido = False
siguiente_paso = nombre and apellido
print(siguiente_paso)

False

In [37]:
# Operador and
nombre = True
apellido = True
siguiente_paso = nombre and apellido
print(siguiente_paso)

True

In [38]:
# Operador or
nombre = True
segundo_nombre = False
apellido = True
siguiente_paso = nombre or segundo_nombre
print(siguiente_paso)

True

In [39]:
# Operador or
nombre = False
segundo_nombre = False
apellido = True
siguiente_paso = nombre or segundo_nombre
print(siguiente_paso)

False

In [40]:
# operador not
var1 = True
print(not(var1))

False

In [41]:
# operador not
var1 = False
print(not(var1))

True